---
const data = {
  component: "test",
  payload: {
    test: "example text"
  }
}

const Component = await import(`../components/${data.component}.astro`).then((module) => {
  return module.default(data.payload);
});
---

<div>
  <Component />
</div>
