---
import type { WidgetConfig } from "@thestral/astro"

const greeting = 'Hello';
const { widget } = Astro.props;

export const config: WidgetConfig = {
  name: "Hello World Widget",
  description: "A simple widget that greets the user",
  props: [
    {
      name: "name",
      type: "string",
      label: "Name",
      description: "The name of the person to greet",
      default: "World",
    },
  ]
}
---

<h1>{greeting}, {widget.name}!</h1>