---
import type { SchemaProps } from "@/lib/types";
import type schema from "./schema";

type Props = SchemaProps<typeof schema>;
const { title, description } = Astro.props;
---

<div class="w-full bg-slate-50">
  <h1>{title}</h1>
  <p>{description}</p>
</div>
