---
import { createPageController } from "@/server/controllers/pageController";
import { getExistingPagePathsAndIds } from "@/server/services/pageService";

let message = "";
if (Astro.request.method === "POST") {
  const data = await Astro.request.formData();
  const slug = data.get("slug") as string;
  const parentId = data.get("parentId") as string;
  if (!slug) {
    message = "Slug is required";
  }
  try {
    await createPageController({
      slug,
      parentId: parentId === "" ? undefined : parentId,
    });
    message = "Page created";
  } catch (e) {
    message = (e as Error).message ?? "An error occurred";
    console.error(e);
  }
}

const existingPagePaths = await getExistingPagePathsAndIds();
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="POST">
      <input type="text" name="slug" placeholder="Slug" />
      {message && <p>{message}</p>}
      <select name="parentId">
        <option value="" selected>None</option>
        {existingPagePaths?.map(({ _id, path }) => <option value={_id}>{path}</option>)}
      </select>
      <button type="submit">Create Page</button>
    </form>
  </body>
</html>
