---
import { createPageController, getExistingPagePathsAndIdsController } from "@/server/controllers/pageController";

const existingPagePaths = await getExistingPagePathsAndIdsController();
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="POST" id="pageForm">
      <input type="text" name="slug" placeholder="Slug" />
      <select name="parentId">
        <option value="" selected>None</option>
        {existingPagePaths?.map(({ _id, path }) => <option value={_id}>{path}</option>)}
      </select>
      <button type="submit">Create Page</button>
    </form>
  </body>
</html>

<script>
  import type { RequestBody } from "./api/pages/create-page";

  const form = document.getElementById("pageForm") as HTMLFormElement;

  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    const formData = new FormData(form);
    const data = Object.fromEntries(formData.entries()) as RequestBody;

    const response = await fetch("/api/pages/create-page", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(data),
    });

    if (response.ok) {
      alert("Page created successfully");
      form.reset();
    } else {
      alert("Failed to create page");
    }
  });
</script>
