---
import { collectRenderWidgets } from "../lib/collect-render-widgets.ts";
const data = [
  { 
    widgetId: "wN0dXBrFAILbAPjpvAlZlDmEhy3dIywe", 
    payload: {
      title: "Hello World",
      description: "This is a description",
    },
  },
  {
    widgetId: "rrw0b09CzCCnDZNFqsh8pajxaWy2Tkss", 
    payload: {

    }
  },
];

const components = await collectRenderWidgets(data);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    {components.map((w) => <w.component {...(w.props)} />)}
  </body>
</html>
