---
import { collectWidgets } from "@/lib/widgets-page/collect-widgets";

// Array of wigets and their props taken from the database
const data = [
  {
    widgetId: "3gik3Ef4uKoPKN22JUOwvQcYxLrBHM73",
    props: {
      title: "Hello World",
      description: "This is a description",
    },
  },
  {
    widgetId: "xYjBpexokhQCddAFkUxRBVCZIObS5oFQ",
    props: {
      title: "Hello World",
      description: "This is a description",
    },
  },
  {
    widgetId: "Vq6tztkB633o0dEHm2bWedLkn9SmqvGO",
    props: {
      title: "Hello World",
      description: "This is a description",
    },
  },
  {
    widgetId: "OvMaRWN1BmwiGit7ekWbENjXoeTt4WZA",
    props: {
      title: "Hello World",
      description: "This is a description",
    },
  },
  {
    widgetId: "jADlizGzlca6L7GODgPwaL8Z8OXmt5FR",
    props: {
      title: "Hello World",
      description: "This is a description",
    },
  },
  {
    widgetId: "GvMacgMiNiaSo6VGODIb93aBlU9eg6il",
    props: {
      title: "Hello World",
      description: "This is a description",
    },
  },
  {
    widgetId: "nLYl53wJr6ixAOSnIZSMEoKp8o79VzbG",
    props: {
      title: "Hello World",
      description: "This is a description",
    },
  },
];

const startTime = performance.now();
const components = await collectWidgets(data);
const endTime = performance.now();
console.log(`Call to collectWidgets took ${endTime - startTime} milliseconds`);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    {components.map((w) => <w.component {...w.props} />)}
  </body>
</html>
