---
import { getExistingPagePathsAndIdsController, addWidgetToPageController } from "@/server/controllers/pageController";
import { readWidgetDetailsController } from "@/server/controllers/widgetController";

if (Astro.request.method === "POST") {
  const data = await Astro.request.formData();
  const pageId = data.get("pageId") as string;
  const widgetUuid = data.get("widgetUuid") as string;
  console.log(pageId, widgetUuid);

  await addWidgetToPageController(pageId, widgetUuid);
}

const widgetData = await readWidgetDetailsController();
const pages = await getExistingPagePathsAndIdsController();
---

<div>
  <form method="POST">
    <select name="pageId">
      <option value="" disabled selected>Select a page</option>
      {pages?.map((p) => <option value={p._id}>{p.path}</option>)}
    </select>
    <select name="widgetUuid">
      <option value="" disabled selected>Select a widget</option>
      {widgetData.map((w) => <option value={w.uuid}>{w.name}</option>)}
    </select>
    <button type="submit">Add widget</button>
  </form>
</div>
