---
import type { TsrlWidget, WidgetGenerator } from '../lib/types';

//! DO NOT CHANGE THIS ID
export const tsrlID = "wN0dXBrFAILbAPjpvAlZlDmEhy3dIywe";

const tsrlWidget = {
  description: "This is a test widget",
  widgets: [
    {
      name: "title",
      type: "text",
      label: "Title",
      defaultValue: "This is a title",
    },
    {
      name: "description",
      type: "text",
      label: "Description",
      defaultValue: "This is a description",
    },
  ],
} satisfies TsrlWidget;

type Props = WidgetGenerator<typeof tsrlWidget>

const { title, description } = Astro.props;
---

<div>
  <h1>{title}, World</h1>
  <p>{description}</p>
</div>
