---
//! DO NOT CHANGE THIS ID
export const tsrlID = "wN0dXBrFAILbAPjpvAlZlDmEhy3dIywe";

export const tsrlWidget = {
  description: "This is a test widget",
  widgets: [
    {
      name: "text-widget-1",
      type: "text",
      title: "Text Widget",
      content: "This is a text widget",
    },
    {
      name: "text-widget-2",
      type: "text",
      title: "Text Widget",
      content: "This is a text widget",
    },
  ],
};
---

<div>
  <h1>Hello, World</h1>
</div>
