---
export const tsrlID = "rrw0b09CzCCnDZNFqsh8pajxaWy2Tkss";

export const tsrlWidget = {
  description: "This is a test widget",
  widgets: [
    {
      name: "text-widget-1",
      type: "text",
      title: "Text Widget",
      content: "This is a text widget",
    },
    {
      name: "text-widget-2",
      type: "text",
      title: "Text Widget",
      content: "This is a text widget",
    },
  ],
};
---

<div>
  <h2>TESTING</h2>
  <p>HELO</p>
</div>
