---
const {title} = Astro.props;
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{title}</title>
</head>
<body>
    <header>
      <TsrlSingleSlot />
    </header>
    <main>
      <TsrlMultiSlot />
    </main>
    <footer>
      <TsrlSingleSlot />
    </footer>
</body>
</html>